In [1]:
%cd ..

C:\Users\Talha\Documents\WinPython3\projects\News-Commentary-Tweets-of-Elites

In [4]:
import pandas as pd
import numpy as np

import plotly.plotly as py
import plotly.tools as tls
from plotly.graph_objs import *
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [11]:
us = pd.read_csv('data/US-headlines.csv',usecols=['newsdate','title','twcount'],parse_dates=[0])
us = us[~us.title.str.contains('The\s?Plazz')]
us = us.sort('twcount',ascending=False)
us.iloc[29:50]

       newsdate  twcount                                            title
7067 2013-03-13      129                A New World ‘first': Pope Francis
6823 2013-04-15      128      Explosions rock Boston Marathon, three dead
5852 2013-08-26      126             Miley Cyrus twerks her way to infamy
1639 2014-09-04      126     Celebs say adieu to she who burned them best
5605 2013-09-22      126               Emmys pay tribute to fallen actors
7397 2013-01-23      124             Hillary Clinton erupts over Benghazi
2616 2014-06-15      124         Tweeps celebrate Dad, joys of fatherhood
5726 2013-09-10      123   Obama: ‘exceptional’ US ‘doesn’t do pinpricks’
6652 2013-05-12      121           Celebs tweet their love for their moms
6028 2013-08-05      119              Amazon founder buys Washington Post
6229 2013-07-13      118           Jury finds George Zimmerman not guilty
891  2014-10-31      118  Ready or not, it’s time to go trick-or-treating
1928 2014-08-12      116    Williams’ death shocks entertainment industry
5789 2013-09-03      116      Kerry makes case to Senate for Syria strike
7154 2013-02-28      114            Woodward ‘threatened’ by White House?
5862 2013-08-25      113                ‘N Sync reunion highlight of VMAs
7140 2013-03-02      112  Sequestration in effect, Obama presses Congress
3361 2014-04-20      111    Celebrity tweeps wish happy Easter to tw’orld
7260 2013-02-13      111        Rubio SOTU response drowned in ‘big gulp’
889  2014-10-31      111   Celebs get suited up for Halloween festivities
4810 2013-12-15      110          Season’s Tweetings: A holiday countdown

In [ ]:
tr = pd.read_csv('data/TR-headlines.csv',usecols=['newsdate','title','twcount'],parse_dates=[0])
tr